name: Initialize Repository

on:
  #Triggers when the repository is created
  push:
   branches: [main, master]
   paths:
    - 'init'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  init-files:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    permissions:
      contents: write      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Apply initialization from init.txt
        run: |
          while IFS=: read -r keys value; do
            # Remove parentheses 
            keys=${keys#(}
            keys=${keys%)}
            #Splitts the keys by comma
            IFS=',' read -ra key_array <<< "$keys"
            
            # Trim whitespace from the value
            value=$(echo "$value" | xargs)

            # Replace each key in README.adoc and index.html
            for key in "${key_array[@]}"; do
              key=$(echo "$key"| xargs)
              safe_key=$(printf '%s\n' "$key" | sed 's/[.[\*^$(){}+?|<>]/\\&/g')
              echo "Key - $key"
              if [[ "$key" =~ ^[[:alnum:]_[:space:]]+$ ]]; then
                sed -i "s/\\<$safe_key\\>/$value/g" README.adoc 
                sed -i "s/\\<$safe_key\\>/$value/g" index.html
                sed -i "s/\\<$safe_key\\>/$value/g" docs/modelldokumentation/modelldokumentation.adoc
              else
                sed -i "s/$key/$value/g" README.adoc 
                sed -i "s/$key/$value/g" index.html
                sed -i "s/$key/$value/g" docs/modelldokumentation/modelldokumentation.adoc
              fi
            done
            for key in "${key_array[@]}"; do
              if [[ "$key" =~ ^[[:alnum:]_[:space:]]+$ ]]; then
                sed -i "s/\\<$safe_key\\>/$value/g" init 
              else
                sed -i "s/$key/$value/g" init
              fi
            done
          done < init

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git status
          git add README.adoc index.html 
          git commit -am "Initialize files from init.txt"
          git push
          
